/* Adicione isso ao seu arquivo cadastro.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#top-bar {
    background-color: #B10DDE;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

#top-bar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

#top-bar span {
    color: white;
}

#top-bar img {
    max-width: 40px;
    margin-left: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #B10DDE; /* Cor de fundo da página de cadastro */
    border-radius: 10px;
    padding: 15px; /* Reduzindo espaçamento interno vertical */
    box-sizing: border-box;
    width: 650px;
    color: #000000; /* Cor do texto */
    margin-bottom: 20px; /* Adicionado espaço na parte inferior da login-box */
}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%; /* Ocupa 100% da largura da input-group */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 8px; /* Espaçamento interno */
    box-sizing: border-box;
}

.login-box input {
    padding: 8px;
    box-sizing: border-box;
    background: #0D1334;
    color: #FFFFFF;
    border-radius: 20px; /* Bordas arredondadas */
    text-align: center;
    margin-bottom: 15px;
}

.login-box .terms {
    text-align: left;
}

/* Alteração para um círculo */
.login-box input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #0D1334;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    align-items: center; /* Alinha verticalmente os checkboxes e os termos */
    margin-bottom: 15px;
}

.checkbox-group input {
    transform: scale(0.7); /* Reduz o tamanho da bolinha de marcação */
    margin-right: 5px; /* Adiciona um pequeno espaçamento entre a bolinha e o texto */
}

.checkbox-group label {
    font-size: 14px; /* Reduz o tamanho da letra */
    margin: 0; /* Remove as margens padrão */
}

.rounded-button {
    background-color: #0D1334;
    color: #1BF6F4;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.rounded-button:hover {
    color: #1BF6F4;
}

/* Estilos para a logo */
.logo-img {
    position: fixed;
    z-index: 1; /* Garante que a logo está acima da background-image */
    width: 120px;
    top: 60px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário para a posição horizontal */
}

/* Adicione o estilo para o texto "CADASTRO" */
.logo-text {
    position: absolute;
    top: 50px; /* Ajuste conforme necessário para a posição vertical */
    left: 150%; /* Coloca o ponto de referência no meio da largura da imagem */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    white-space: nowrap; /* Evita quebra de linha */
    color: #7B37FE; /* Cor desejada */
    font-size: 20px; /* Ajuste conforme necessário para o tamanho da fonte */
    z-index: 2; /* Certifique-se de que o texto está acima da background-image e da logo */
}

.additional-info {
    color: #000000; /* Cor desejada */
    margin-top: 10px; /* Espaçamento acima do texto */
    font-size: 14px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
}

.info-text {
    color: #000000; /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin-top: 15px; /* Espaçamento acima do texto */
    max-width: 80%; /* Largura máxima do texto */
    line-height: 1.5; /* Altura da linha para controle do espaçamento entre linhas */
    white-space: pre-line; /* Adiciona quebra de linha onde houver \n no texto */
}